body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}
span{
    color: rgba(89, 206, 42, 0.959);
}
a{
    text-decoration: none;
    background-image: linear-gradient(yellowgreen,darkgreen);
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    margin-top: 105px;
}
.first-section{
    background-image: url(images/shapes/Group\ 8450.png);
    background-repeat: no-repeat;
    margin-bottom: 130px;
}
.first-div{
    width: 50%;
    padding-left: 230px;
    margin-top: 90px;
}

.second-div img{
    padding-left: 30px;
    width: 100%;
    height: auto;
    }
.first-div h1{
    color: rgb(77, 72, 72);
}
.second-div a{
    margin-left: 50px;
}

.first-div p{
    text-align: justify;
    padding-right: 50px;
}
.second-div p {
    text-align: justify;
    padding: 10px 50px;
    margin-right: 40px;
    color: rgb(90, 87, 85);
}
.second-div h1 {
    padding: 10px 50px;
    margin-right: 40px;
}
.second-section{
    margin-bottom: 150px;
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    margin-bottom: 130px;
}
.third-section{
    margin-bottom: 130px;
}
.flex{
    display: flex;
}
.part{
    width: 33.33%;
    margin: 20px;
    border: 7px solid white;
    box-shadow: 10px 10px 20px gray;
    border-radius: 20px;

}
.part p{
    text-align: justify;
}
.part img{
    width: 100%;
    padding:0;
}
.centre{
    text-align: center;
    margin-bottom: 40px;
    color: rgb(75, 69, 69);
}
.footer{
    background-color: rgba(0, 0, 0, 0.932);
    text-align: center;
    margin: 10px;
}
.footer .food{
    color: orangered;
}
.foot-para .network{
color: gray;
}
.footer p{
    color: wheat;
}
.foot-para{
    padding: 30px;
}
.last-div {
    width: 33.33%;
    padding: 20px;
}
.last{
display: flex;
box-shadow: 10px 10px 20px gray;
margin: 75px;
border-radius: 20px;
}
.ram{
    width: 33.33%;
    margin: 20px;
    padding: 20px;
    text-align: center;
}
.sam{
    width: 33.33%;
    margin: 20px;
    padding: 20px;
    text-align: center;
}
.dondo{
    width: 33.33%;
    margin: 20px;
    padding: 20px;
    text-align: center;
}
